<h1>Welcome!</h1>
<div class="sign-up">
<div class="form">
  <p>Input Info Below</p>
    <%= form_for @waiter do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Add New Waiter", :class => 'waiter-button' %>
</div>

    <% end %>

</div>
